<h2>Editing transaction
    {{transaction._id}}</h2>
<div class="row">
    <div class="form-group col-md-6">
        <label for="transactionType">Transaction Type</label>
        <select class="form-control" id="transactionType" ng-model="transaction.transaction_type">
            <option value="Sale">
                Sale
            </option>
            <option value="Donation">
                Donation
            </option>
            <option value="Recycling">
                Recycling
            </option>
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-4">
        <label for="partyName">Customer Name</label>
        <input type="text" class="form-control" ng-model="transaction.party.name" placeholder="Buster Bot"/>
    </div>
    <div class="form-group col-md-4">
        <label for="partyName">Customer Email</label>
        <input type="email" class="form-control" ng-model="transaction.party.email" placeholder="buster@fgtc.us"/>
    </div>
    <div class="form-group col-md-4">
        <label for="partyName">Customer City</label>
        <input type="text" class="form-control" ng-model="transaction.party.city" placeholder="Minneapolis"/>
    </div>
</div>

<form sf-schema="transactionSchema" sf-form="form" sf-model="model"></form>

<form ng-submit="addItem()">
    <div class="row">
        <div class="form-group col-md-3">
            <label for="itemDescription">Description</label>
            <input type="text" id="itemDescription" class="form-control" ng-model="newItem.description" placeholder="laptop"/>
        </div>
        <div class="form-group col-md-2">
            <label for="itemQuantity">Quantity</label>
            <input type="number" id="itemQuantity" class="form-control" ng-model="newItem.quantity" ng-change="updatePrices()" min=0 step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
        </div>
        <div class="form-group col-md-2" ng-if="transaction.transaction_type != 'Donation'">
            <label for="itemEachPrice">Each Price</label>
            <input type="number" id="itemEachPrice" class="form-control" ng-model="newItem.each_price" ng-change="updatePrices()" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
        </div>
        <div class="form-group col-md-2" ng-if="transaction.transaction_type != 'Donation'">
            <label for="itemExtPrice">Extended Price</label>
            <input type="number" id="itemExtPrice" class="form-control" ng-model="newItem.extended_price" ng-change="updatePrices(newItem.extended_price)" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
        </div>
        <div class="form-group col-md-2">
            <input class="btn btn-primary" type="submit" value="Add Item"/>
        </div>

    </div>
</form>

<button class='btn btn-success' ng-click="saveTransaction()">Save</button>

<table class="table table-striped">
    <tbody>
        <tr ng-repeat="item in transaction.items">
            <td>
                {{item}}
            </td>
        </tr>
    </tbody>
</table>

<h2>Total: {{transaction.total}}</h2>
