<h2>{{transaction.transaction_type}} {{transaction._id}} <a class="btn btn-primary hidden-print" href="#/transaction/{{transaction._id}}/edit"><i class="fa fa-pencil-square-o"></i> Edit</a></h2>

<h3 >{{transaction.date | arrayDate | date:'shortDate'}}</h3>

<h3>{{transaction.party.name}}<br/>
  {{transaction.party.city}}
</br/></h3>

<table class="table table-striped">
  <caption>
    Items
  </caption>
  <thead>
  <th>
    Description
  </th>
<th>
  Quantity
</th>
<th ng-if="transaction.transaction_type != 'Donation'">
  Unit Price
</th>
<th ng-if="transaction.transaction_type != 'Donation'">
  Extended Price
</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in transaction.items">
      <td>
        {{item.description}}
      </td>
      <td>
        {{item.quantity}}
      </td>
      <td ng-if="transaction.transaction_type != 'Donation'">
        {{item.each_price | currency}}
      </td>
      <td ng-if="transaction.transaction_type != 'Donation'">
        {{item.extended_price | currency}}
      </td>
    </tr>
    <tr ng-if="transaction.transaction_type != 'Donation'">
      <td colspan=3>
        <span class="pull-right"><strong>Total:</strong></span>
      </td>
      <td>
        <strong>{{transaction.total | currency}}</strong>
      </td>
    </tr>
  </tbody>
</table>
